Options -MultiViews

RewriteEngine On

Options -Indexes

RewriteBase /asis-mvc/

#RewriteRule ^home/(.*)$ index.php?url=home&id=$1 [QSA,L]

# General rewrite rules
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-l

RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]
